# https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python
name: ruff
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: pip install --user ruff
    - run: ruff --format=github --ignore=E713,F403,F405,F841 --line-length=109 --target-version=py37 .
